@model IPagedList<CommentaireExterne>

<div id="commentairesExtBlock">


    @foreach (var com in Model)
    {
        <div class="row">
            <h3>@Html.ActionLink(com.Titre, "Details", new { id = com.Id }) </h3>
            <p class="commentaire-publication">@com.Publication</p>
            @foreach (var coment in com.CommentairesExterneContents)
            {
                @Html.Partial("PartialView/_PartialCommentaireContentView", coment)
            }
            <p class="commentaire-poster">Publier par @com.User.Pseudo le @com.DatePost</p>
            <div id="NoteCommentaireExterne-@com.Id">
                @Html.Action("Index", "Notes", new { commentaireExterneId = com.Id })
            </div>
        </div>
    }
    

    <div class="pageList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
