@using System.Web.Mvc.Html
@model IPagedList<CommentaireExterne>

<div id="commentairesExtBlock">


    @foreach (var com in Model)
    {

        <div class="row">
            <div class="borderCom">
                <h3>@Html.ActionLink(com.Titre, "Details", new { id = com.Id }) </h3>
                <p class="commentaire-publication">@com.Publication</p>
                <div class="commentaire-commentaires">
                    @foreach (var coment in com.CommentairesExterneContents)
                    {
                        @Html.Partial("PartialView/_PartialCommentaireContentView", coment)
                    }
                </div>
                <div class="footerComment">
                    <div class="row">
                        <div class="noteComment col-md-3" id="NoteCommentaireExterne-@com.Id">
                            @Html.Action("Index", "Notes", new { commentaireExterneId = com.Id })
                        </div>
                        <div class="commentaire-poster col-md-6">@CommentaireExterneRessources.PublierPar @com.User.Pseudo | @com.DatePost</div>
                        <div class="nbCommentaire col-md-3">
                            @Html.ActionLink(string.Format("{0} {1}", com.Commentaires.Count, CommentaireExterneRessources.Title), "Details", new { id = com.Id })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="pageList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
