@model Commentaire
<div id="formulaireCommentaire42xB" class="row">

    @using (Ajax.BeginForm(new AjaxOptions()
    {
        AllowCache = false,
        HttpMethod = "Post",
        Url = "/Commentaires/create",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "supercompliquepourmettrenotrecom",
        OnSuccess = "successAddComm",
        OnBegin = "onStartDisableComment"
    }))
    {
        @Html.HiddenFor(c => c.PostId)
        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <img src="@Model.User.GetGravatarLink(54)" height="54" width="54" alt="@WebSecurity.CurrentUserName" />
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Texte, new { htmlAttributes = new { @class = "form-control", placeholder = CommentaireExterneRessources.CommentaireLabel } })
                @Html.ValidationMessageFor(model => model.Texte, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="@GeneralRessources.Publier" class="btn  " id="boutonajoutcom" />
            </div>
        </div>

    }
</div>
