@using DansTesComs.Core.Models.ModelsExtentions
@model IPagedList<Commentaire>

@if (!IsAjax)
{
    if (WebSecurity.IsAuthenticated)
    {
        @Html.Action("Create", new { commentaireId = ViewBag.commentid })
    }
    else
    {
        <p>
            @Html.ActionLink(GeneralRessources.SinscrireConnecterCommenter, "Index", "User", null, new { id = "registerLink" })
        </p>
    }

}



@if (!IsAjax)
{
    <text><div class="comment-block">
    </text>
    <h4>@CommentaireExterneRessources.Title :<span class="pull-right" id="addOneMoreComment">@CommentaireExterneRessources.AddNewTitle</span></h4>
    <div id="supercompliquepourmettrenotrecom"></div>
}
else
{
    <text><div>
    </text>
}
@if (Model.Count > 0)
{
    foreach (var com in Model)
    {
        @Html.Partial("_PartialViewCommentaire", com)
    }
}
else
{
    <text><h3 class="row">@CommentaireExterneRessources.SoitLePremierCom</h3></text>
}
<div id="morecomments" class="row col-md-12 text-center">
    @*jolie bouton voir pls avec les options pager pour qu'on est bien le resultat voulu
        + laison js AjaxResponseFunction.js pour un affichage correcte et le changement d'id*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { extCommentId = ViewBag.commentid, page = page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToIndividualPages = false,
                DisplayItemSliceAndTotal = false,
                ContainerDivClasses = null,
                UlElementClasses = new[] { "pager" },
                ClassToApplyToFirstListItemInPager = null,
                LinkToNextPageFormat = GeneralRessources.VoirPlus
            }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "morecomments", OnBegin = "onStartHideShowMore", OnSuccess = "changeIdForMoreCom" }))
</div>
</div>

