@using DansTesComs.Core.Helpers
@model CommentaireExterne

@{
    ViewBag.Title = Model.Titre;
}


<div class="row">
    <h1>@Model.Titre </h1>
    <p>@{//on vérifie si notre lien peut embed
           var embed = LinkHelper.LinkGetEmbedVideo(Model.Lien);
           if (embed != Model.Lien)
           {
               @Html.Raw(embed)
           }
           else
           {
                <a href="@Model.Lien">@Model.Lien</a>
           }
       }</p>
    <p class="commentaire-publication">@Model.Publication</p>
    <div class="commentaire-commentaires">
        @foreach (var coment in Model.CommentairesExterneContents)
        {
            @Html.Partial("PartialView/_PartialCommentaireContentView", coment)
        }
    </div>
    
    <div class="col-md-2 noteComExterneDetails" id="NoteCommentaireExterne-@Model.Id">
        @Html.Action("Index", "Notes", new { commentaireExterneId = Model.Id })
    </div>
    <div class="col-md-9">
        <p class="pull-right">@CommentaireExterneRessources.PublierPar @Model.User.Pseudo | @Model.DatePost</p>
    </div>
    <div class="horizontal-separator row" style="margin-left: 20px;"></div>
</div>



@*Affichage des commentaires*@
@Html.Action("Index", "Commentaires", new { extCommentId = Model.Id })


@section scripts
{
    @Scripts.Render("~/bundles/ajaxJsResponse")
}
