@model CommentaireExterne

@{
    ViewBag.Title = Model.Titre;
}


<div class="row">
    <h3>@Html.ActionLink(Model.Titre, "Details", new { id = Model.Id }) </h3>
    <p class="commentaire-publication">@Model.Publication</p>
    @foreach (var coment in Model.CommentairesExterneContents)
    {
        @Html.Partial("PartialView/_PartialCommentaireContentView", coment)
    }
    <p class="commentaire-poster">@CommentaireExterneRessources.PublierPar @Model.User.Pseudo | @Model.DatePost</p>
    <div id="NoteCommentaireExterne-@Model.Id">
        @Html.Action("Index", "Notes", new { commentaireExterneId = Model.Id })
    </div>
</div>



@*Affichage des commentaires*@
@Html.Action("Index", "Commentaires", new { extCommentId = Model.Id})
