@model DansTesComs.WebSite.Models.CommentaireExterne

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentaireExterne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Mail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
