@model CommentaireExterne

@{
    ViewBag.Title = Model.Titre;
}


<div class="row">
    <h1>@Model.Titre </h1>
    <p class="commentaire-publication">@Model.Publication</p>
    <div class="commentaire-commentaires">
        @foreach (var coment in Model.CommentairesExterneContents)
        {
            @Html.Partial("PartialView/_PartialCommentaireContentView", coment)
        }
    </div>
    <div class="pull-left" id="NoteCommentaireExterne-@Model.Id">
        @Html.Action("Index", "Notes", new { commentaireExterneId = Model.Id })
    </div>
    <p class="pull-right">@CommentaireExterneRessources.PublierPar @Model.User.Pseudo | @Model.DatePost</p>

</div>



@*Affichage des commentaires*@
@Html.Action("Index", "Commentaires", new { extCommentId = Model.Id })


@section scripts
{
    @Scripts.Render("~/bundles/ajaxJsResponse")
}
