<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Dans tes coms</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", false)
    @RenderSection("AddToHead", required: false)

</head>
<body>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fb_LT/sdk.js#xfbml=1&appId=318493258313497&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    <header class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <p class="pull-left"><a href="@Url.Action("Index", "Home")" class="logo"><img src="~/Images/logo.png" /></a></p>
                </div>
                <div class="col-md-8">
                    <section class="row" id="login">
                        <div class="pull-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </section>
                    <ul id="menu" class="nav navbar-nav  ">
                        <li>@Html.ActionLink("Add", "Create", "CommentaireExternes")</li>
                        <li class="divider"><a>|</a></li>
                        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                        <li class="divider"><a>|</a></li>
                        <li>@Html.ActionLink(GeneralRessources.aleatoire, "Random", "CommentaireExternes")</li>
                        <li class="divider"><a>|</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="container">
            <div class="row">
                <div id="theContainer" class="col-md-8 ">
                    <div class="backgroundWhite row">
                        @RenderBody()
                    </div>
                </div>
                <div id="rightMenu" class="col-md-4 ">
                    @Html.Partial("_MenuDroite")
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="text-center">
                <p>
                    &copy; @DateTime.Now.Year - Dans tes coms <span class="separator">|</span>
                    @Html.ActionLink(GeneralRessources.Accueil, "Index", "CommentaireExternes") <span class="separator">|</span>
                    @Html.ActionLink(GeneralRessources.About, "About", "Home") <span class="separator">|</span>
                    @Html.ActionLink(GeneralRessources.Contact, "Contact", "Home")
                </p>
            </div>
        </div>
    </footer>

</body>
</html>