<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Dans tes coms</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("AddToHead", required: false)

</head>
<body>
    <header class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <p class="pull-left"><a href="@Url.Action("Index", "Home")" class="logo"><img src="~/Images/logo.png" /></a></p>
                </div>
                <div class="col-md-8">
                    <section class="row" id="login">
                        <div class="pull-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </section>
                    <ul id="menu" class="nav navbar-nav  ">
                        <li>@Html.ActionLink("Add", "Create", "CommentaireExternes")</li>
                        <li class="divider"><a>|</a></li>
                        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                        <li class="divider"><a>|</a></li>
                        <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                        <li class="divider"><a>|</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required:false)
        <section class="container">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="pull-left">
                <p>&copy; @DateTime.Now.Year - Dans tes coms</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)
</body>
</html>