@if (Request.IsAuthenticated)
{
    <span>
        <span class="pull-left">
            Bonjour, @Html.ActionLink(User.Identity.Name, "Edit", "User", null, new { @class = "username", title = "Gérer" }) |
        </span>
        @using (Html.BeginForm("Deconnexion", "User", FormMethod.Post, new { id = "logoutForm", @class = "pull-left" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()"> @GeneralRessources.Deconnecter</a>
        }
        @if (User.IsInRole("Admin"))
        {
            <text> | </text>
            @Html.ActionLink("admin","Index","Admin")
        }
    </span>
}
else
{
    @Html.ActionLink(GeneralRessources.SincrireConnecter, "Index", "User")
}