@using System.Web.UI.HtmlControls
@using DansTesComs.Core.Models.ModelsExtentions


@if (!Request.IsAuthenticated)
{
    <div class="row ">
        <h3>@GeneralRessources.TitlePQsinscrire</h3>
        <p>
            @GeneralRessources.TxtPQsinscire
            @Html.ActionLink(GeneralRessources.Sinscrire,"Index","User")
        </p>
        <h4>@GeneralRessources.SeConnecter</h4>
        <hr class="empty-hr row" />

        @Html.Partial("../User/ConnexionFormPartial",new UserPass())
    </div>
}

<div class="row">
    <h3>@GeneralRessources.Categories</h3>
    @Html.Action("Index","Categories")
</div>

<div class="row ">


    <h4>Video</h4>
    <p>
        <iframe width="350" height="197" src="//www.youtube.com/embed/_QyYaPWasos" frameborder="0"></iframe>
        College humor video.
    </p>
    <h3>Test titre 1</h3>
</div>

