@using System.Web.UI.HtmlControls
@using DansTesComs.Core.Models.ModelsExtentions

@if (!Request.RawUrl.Contains("/Search"))
{
    <div class="row">
        <h4>@SearchRessources.FaireUneRecherche</h4>
        @Html.Partial("../Search/FormulaireRecherche", new Search())
    </div>
}

@if (!Request.IsAuthenticated && !Request.RawUrl.Contains("User"))
{
    <div class="row  hide-litle-screen">
        <h3>@GeneralRessources.TitlePQsinscrire</h3>
        <p>
            @GeneralRessources.TxtPQsinscire
            @Html.ActionLink(GeneralRessources.Sinscrire, "Index", "User")
        </p>
        <h4>@GeneralRessources.SeConnecter</h4>
        <hr class="empty-hr row" />

        @Html.Partial("../User/ConnexionFormPartial", new UserConnexion())
    </div>
}
<div class="row hide-litle-screen">
    <h4>@GeneralRessources.PartageNous</h4>
    <div class="fb-like margin-1" data-width="300" data-href="https://www.facebook.com/dansTcom" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <h4>@GeneralRessources.TweetNous</h4>
    <a href="https://twitter.com/dansTcoms" data-size="large" class="twitter-follow-button margin-1" data-show-count="true" data-lang="en">Follow Dans Tes coms</a>
    <a href="https://twitter.com/share" data-size="large" class="twitter-share-button margin-1" data-text="@GeneralRessources.TweeterTweet" data-url="http://@Request.Url.Authority" data-lang="fr">Tweet</a>
</div>
<div class="row">
    <h3>@GeneralRessources.Categories</h3>
    @Html.Action("Index", "Categories")
    <h4>@GeneralRessources.Autres</h4>

    <ul>
        <li>@Html.ActionLink(GeneralRessources.Top, "Top", "CommentaireExternes")</li>
        <li>@Html.ActionLink(GeneralRessources.Flop, "Flop", "CommentaireExternes")</li>
        <li>@Html.ActionLink(GeneralRessources.EnAttenteDeValidation, "Wait", "CommentaireExternes")</li>
        <li>@Html.ActionLink(GeneralRessources.PlusCommentés, "MostComment", "CommentaireExternes")</li>
    </ul>
</div>


    @Html.Action("Create","NewsLetters")

