@using DansTesComs.Core.Models.ModelsExtentions
@model UserPass

@{
    ViewBag.Title = "Connexion Inscription";
}
<div class="row">
    @if (!string.IsNullOrEmpty(ViewBag.PageConnectionNeed))
    {
        <p class="text-danger" style="margin-top: 10px;">@ViewBag.PageConnectionNeed</p>
    }
    <section id="loginForm" class="col-md-6">

        <h2>Inscription</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <hr />
                @Html.ValidationSummary(true,null, new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mail, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Pseudo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Pseudo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pseudo,null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nom,null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Prenom,null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Anniversaire, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Anniversaire, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Anniversaire,null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pass,null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Inscrire" class="btn  " />
                    </div>
                </div>
            </div>
        }


    </section>

    <section class="col-md-5">

        <h2>@GeneralRessources.SeConnecter</h2>
        <hr />

        @Html.Partial("ConnexionFormPartial",new UserConnexion())

    </section>

</div>
